html,body{
    overflow-x: hidden;
}
.toparea {
    width:100%;
    padding-top:10px;
    background:#FAFAD2;
    position:sticky;
    top:0;

}
#logo {
            width:auto;
            height:auto;
            float:left;
}
#logo img {
            width:100%;
            height:175px;
            padding-left:20px;
            padding-bottom:5px;
}
#title1 h1 {
            
            font-size:80px;
            font-weight:750;
            text-align:center;
            color: #bc2e1e; 
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-shadow: 0 1px 0px bisque, 1px 0 0px bisque, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;        
}
#title1 h3 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    
}
.title{
    padding-bottom:5px;
}
.title p{     
    font-size:20px;
    line-height:5px;      
}
.title i {
    color:blue;
}
.title p:hover {
    color:red;
}
.title p i {
    font-size:22px;
    color:teal
    
}
.title p i:hover {
    color:green;
}
.icons i {
    margin-left:10px;
    font-size:32px;
    color:black;
    transition:0.3s;
    position:relative;
         
}
.icons i:hover {
    color:red;
}
.navarea {
    width:100%;
    
    color:black;
    
}
.navbar-nav {
    font-size:16px;
    color:white !important;
    padding:8px 10px;
    font-weight:600;
    gap:40px;
    
}
.nav-link{
    color: black;
}
.nav-link:hover {
    border-top:solid 2px black; 
}


.heroarea {
    width:100%;
    background:tan;
    padding-bottom:20px;
}
.left {
    background: #A12C2F;
    padding:0 100px;
    margin-top:10px;
    
}
.extra {
    background:#FAA630 ;
    border-left:2px solid white;
    border-right:2px solid white;
     
}
.left h1 {   
    color:cadetblue;
    font-weight:700;
    line-height:35px;
    color: #202c2d;
    width:auto;
    color: #202c2d;
    text-align: center;

    padding:30px 10px;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}
.left1 h2 {
    color:black;
    padding:10px 40px;
    font-weight:600;
    width:auto;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.left1 h2:hover {
    color:black;
            
}
.left1 p {
    padding:10px 40px;
    font-size:27px;
    line-height:30px;
    width:auto;
    color:black;
            
}

.newbtn button {
    width:150px;
    height:50px;
    border-radius:10px;
    background:#FAFAD2;
    color:black;
    font-size:19px;
    margin-left:50px;
    border:none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.newbtn button:hover {
    
    color:black;
    border:solid 2px black ;
}
.quick {
    width:100%;
    padding:40px 60px;
    margin-top:10px;
}
.area {
    padding:15px 60px;
    background:navajowhite;
    margin-bottom:20px;
    border-radius:4px;
    border:solid 2px black;
}
.area h2 {
    text-align:center;
    font-size:30px;
    font-weight:700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    padding:5px 0;
    cursor: pointer;
}
.area h2:hover {
    color:darkgoldenrod;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.card {
    margin-top:20px;
    margin-bottom:30px;
    border:none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.card:hover {
    transform:translateX(10px);
    transition:1s;
    border:solid 2px black;
}

.inline {
        width:100%;
        height:5px;
        background:linear-gradient(to right,transparent,black,transparent);
} 
.card-body img {
    height:80px;
    width:120px;
}
.card-body h5 {
    padding:10px 0 0 20px;
    font-size:25px;
    font-weight:700;
    cursor:pointer;
}
.card-body p {
    padding:10px 0 0 20px;
    color:black;
    font-size:18px;
    cursor:pointer;
}
.btn {
    background:bisque;
    color:black;
    border:none;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.btn:hover {
    background:black;
    color:white;
    border:none;
    font-weight:bold;
}
.services-btn button {
    padding:10px 80px;
    border-radius:8px;
    font-size:25px;
    background:navajowhite;
    color:black;
    border:none;
    display:block;
    margin:0 auto;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
}
.services-btn button:hover {
    background:white;
    color:black;
    transition: 1s;
    transform:translate(4px,0);
}
.villimg {
    width:100%;
    background:lightgoldenrodyellow;
}
.line {
        width:100%;
        height:5px;
        background:linear-gradient(to right,transparent,black,transparent);
        margin-bottom:10px;
} 
.villimg img {
    width:100%;
    height:100%;
}
.villimg h1 {
    text-align:center;
    padding-top: 10px ;
    font-weight:700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font-size:40px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.textmsg h3 {
    font-size:35px;
    font-weight:800;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.textmsg h2 {
    font-size:35px;
    font-weight:600;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position:relative;
    color:#882427;

}
.textmsg h2::after,
.textmsg h2::before{
    position:absolute;
    content:"";
    width:200px;
    height:2px;
    background:black;
    top:40%;

}
.textmsg h2::before{
    right:65%;
    margin-right:10px;
}
.textmsg h2::after{
    left:65%;
    margin-left:10px;
}
.textmsg h2:hover {
    text-shadow:5px -5px 0 red;
    transition:all 2s;
}
.textmsg p {
    font-size:25px;
    font-weight:400;
    color:black;
}

.simg {
    height:100%;
    position: relative;
}
.info {
    background:lightgoldenrodyellow;
    padding-bottom:15px;
}
.info h2 {
    text-align:center;
    padding-top:10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
    position:relative;
}
.mine {
        width:100%;
        height:5px;
        background:linear-gradient(to right,transparent,black,transparent);
        margin-bottom:10px;
}
/* .info h2::after,
.info h2::before{
    position:absolute;
    content:"";
    width:500px;
    height:3px;
    background:black;
    top:55%;
}
.info h2::before {
    margin-right:20px;
    right:62%;
}
.info h2::after {
    margin-left:20px;
    left:62%;
} */


.over {
    position:absolute;
    height:60px;
    width:180px;
    background:#D7B58A;
    color:red;
    text-align: center;
    bottom:3px;
    left:130px;
}
.over h4 {
    line-height: 20px;
    padding-top:10px;
}
.simg {
    overflow:hidden;
    display:block;
    margin:0 auto;
}
.simg img {
    border:4px solid black;
    border-radius:5px;
    height:300px;
}
.simg img:hover {
    transform:scale(1.2,1.2);
    transition:2s;
    
}
.smsg h3 {
    color:black;
}
.smsg h4 {
    color:#666;
}
.smsg h4:hover {
    transform:translateX(3px);
    transition:2s;
}


.infopart {
    width:100%;
    background: white;
    padding:20px 30px;
    border:solid 2px black;
}
.infopart h2 {
    font-size:36px;
    font-weight:800;
    text-transform: uppercase;
    font-family:"Google Sans Flex";
    text-align:center;
    color:#bc2e1e;
}
.inline {
        width:100%;
        height:5px;
        background:linear-gradient(to right,transparent,black,transparent);
} 

h2  {
        color:black;
        text-align:center;
        font-size:30px;
        padding-top:0;
}
.stat-card{
    background:#fff;
    border-radius:15px;
    padding:30px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition:0.4s;
    margin-top:30px;
    background:#FCCF94;
    border:solid 2px black;
}

.stat-card:hover{
    transform:translateY(-8px);
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.stat-card i{
    font-size:45px;
    color:black;
    margin-bottom:15px;
}

.stat-card h2{
    font-size:35px;
    font-weight:700;
}

.stat-card p{
    color:#666;
}
.mainpart {
    padding:50px 10px;
    border:solid 2px black;
    
}
.movepart {
    padding:10px 20px;
    overflow:hidden;
    background:bisque;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 15px 15px -5px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border:solid 1px black;
}
.notices{
    padding:20px 0;
    margin-top:20px;
    border-radius:7px;
    background: #FCCF94;
    z-index: 1000; 
    border:solid 2px black;
}
.notices:hover {
    transform:scale(1.1,1.1);
    border:none;
    
}
.notices h3 {
    padding-left:30px;
    padding-bottom:15px;
    color:olive;
}
.notices h3 i {
    color:black;
}
.notices h4{
    padding-left:30px;
    padding-bottom:15px;
    color:black;
}
.notices button {
    padding:10px 15px;
    border-radius:15px;
    margin-left:20px;
    background:wheat;
    border:none;
    font-size:18px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.notices button:hover {
    
    background:black;
    color:white;
    border:none;
    font-size:18px;
}
.rightpart {
    padding:0 10px;
    margin-top:20px;
    
}
.rightpart:hover {
    border-radius:8px;
    border:solid 2px black;
}

.rightpart h3 {
    text-align: center;
    font-size:32px;
    color:black;
    padding-bottom: 3px;
}
.rightpart h4 {
    text-align: center;
    font-size:26px;
    color:olive;
    padding-bottom:8px;
}
.rightpart button {
    display: block;
    margin:0 auto;
    padding:6px 10px;
    font-size:22px;
    border-radius:5px;
    color:black;
    background:wheat;
    border:none;
    margin-bottom:40px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.rightpart button:hover{
    transform: translateX(-3px);
    transition:2s;
    background:mistyrose;
    color:black;
    
}
.mainpart h2 {
    text-align:center;
    color:black;
}
.mainpart h1 {
    text-align: center;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.mainpart p {
    text-align:center;
    line-height: 30px;
    font-weight: 700;
    color:#7A7A7A;
}
.schemes {
    width:100%;
    background:navajowhite;
    border:solid 2px black;

}
.schemes .card {
    background: linear-gradient(135deg,#eef7ff,#f8fff5);
    border-bottom:solid 12px #FAA630;
    border-top:solid 12px black;
    border-right:solid 12px #FAA630 ;
    border-left:solid 12px black;
}
.schemes h2 {
    text-align:center;
    padding:12px 0;
    color:black;
    font-weight:700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:35x;
    cursor:pointer;
}
.schemes h2:hover {
    
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
.schemes .card:hover {
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
    
}
.schemes .card h3 {
    text-align:center;
    padding-top:20px;
}
.schemes button {
    padding:5px 45px;
    display:block;
    margin:0 auto;
    border-radius:9px;
    background:burlywood;
    color:black;
    font-weight:bold;
    border:none;
    font-size:18px;
}
.schemes button:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    color:black;
}
.issuesec {
    background:#FAFAD2;
    padding-bottom:30px;
}
.topsec {
    text-align:center;
    padding-top:30px;
    padding-bottom:50px;
}
.topsec h2 {
    font-size:35px;
    font-family:'Times New Roman', Times, serif;
    font-weight:600;
    color: black;
} 
.topsec h4 {
    color:grey;
}
.topsec:hover h3,.topsec:hover h4 {
    transform: translate(3px,2px);
    transition:1s;
}
.topsec p {
    color:black;
}
.box {
    padding:30px 5px;
    gap:10px;
    text-align: center;
    border-radius:70%;
    margin-top:10px;
    margin-bottom:10px;
    background:mistyrose;
    transition:0.4s;
    cursor:pointer;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.box i {
    color:black;
    font-size:28px;
}
.box:hover i {
    color:maroon;
}
.box:hover {
    background:#FCCF94;
    transform:scale(0.9,0.9);
    border:solid 1px black;
}
.box:hover h3 {
    color:black;
}
.box h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}
.contactpart {
    width:100%;
    background:none;
    padding:50px 20px;
    border:solid 2px black;
    
}
.contactpart .card {
    height:auto;
    border:solid 2px black;
}
.contactpart h5 {
    text-align:center;
    color:black;
    padding-bottom:10px;
}
.contactpart i {
    color:maroon;
    font-size:23px;
}
.contactpart i:hover {
    color:cyan;
}
.contactpart label {
    font-size:15px;
    padding-right:5px;
    padding-left:5px;
    color:black;
}
.contactpart input{
    padding:13px 35px;
    border-radius:10px;
    
}
.contactpart textarea {
    padding:47px 55px;
  
}
.contactpart .btn {
    padding:10px 22px;
    background:#DEB887;
    font-size:20px;
    font-weight:600;
    color:black;
}

.contactpart .card:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.footerarea {
    width:100%;
    padding:10px 20px;
    background:#014B40;
}
.llogo img {
    padding:10px 10px;
    width:1005;
    height:120px;
    display:block;
    margin:0 auto;
}
.llogo h4 {
    text-align:center;
    color:white;
    font-size:20px;
    padding-bottom:20px;
}
.end1 p {
    font-size:24px;
    line-height:30px;
}
.end1 i {
    color:gray;
}
.end1 p a{
    text-decoration:none;
    font-size:20px;
    color:navajowhite;
}
.end1 p:hover a{
    color:powderblue;
}
.security {
    text-align:center;
    padding-top:15px;
}
.security h6 {
    text-align: left;
    color:lightskyblue;  
}
.security h5 {
    text-align: right;
    font-size:19px;
    color:lightskyblue;
}
.security h4 {
    font-size:21px;
    color:white;
}
.end1 h4{
    position:relative;
    color:white;
    font-size:20px;
    font-weight:bold;
    text-transform:uppercase;
    font-family:Arial, sans-serif;
    padding-right:160px;
}
.end1 h4::after,
.end1 h4::before {
    content:"";
    position:absolute;
    top:30%;
    width:90px;
    height:2px;
    background:white;
}

.end1 h4::before{
    right:100%;
    margin-right:95px;
}
.end1 h4::after{
    left:70%;
    margin-right:70px;   
}
@media (max-width:768px){
    .end1 h4{
        position:relative;
        color:white;
        font-size:20px;
        font-weight:bold;
        text-transform:uppercase;
        font-family:Arial, sans-serif;
        padding-right:160px;
    }
    .end1 p {
        font-size:17px;
        line-height:25px;
    }
    .end1 h4::after,
    .end1 h4::before {
        display:none;
    }
    .security h6 {
        text-align: left;
        color:lightskyblue;  
    }
    .security h5 {
        text-align: left;
        font-size:16px;
        color:lightskyblue;
    }
    .security h4 {
        font-size:17px;
        text-align:left;
    }
    .security {
        border-top:solid 1px grey;
        width:100%;
    }
}

@media (max-width: 768px) {
    #title1 h1{
        font-size: 35px;
    }
    #logo {
            width:auto;
            height:auto;
            float:left;
            
            text-align: center;
            
    }
    #logo img {
            width:100%;
            height:140px;
            padding-left:20px;
            padding-bottom:5px;
    }
    #title1 h1 {    
            font-size:50px;
            font-weight:800;
            text-align:center;
            color: #bc2e1e; 
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-shadow: none;
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.title h3 {
    font-size:20px;
}
.title1{
    padding-bottom:5px;
}
.title p{     
    font-size:18px;
    line-height:4px;      
}

.title p:hover {
    color:red;
}
.title p i {
    font-size:22px;
    color:teal
    
}
.title p i:hover {
    color:green;
}
.icons i {
    margin-left:10px;
    font-size:32px;
    color:black;
    transition:0.3s;
    position:relative;
    align-items: center;
    justify-content: center;
    
}
.icons i:hover {
    color:darkgoldenrod;
}
}
@media (max-width:992px) {
    .navbar-nav{
        font-size:13px;
        width:100%;
        gap: 3px;
    }
}
@media (max-width:768px) {
    .left {
        padding:0 20px;
    }
}
@media (max-width:768px){
    .mainpart p {
        display:none;
    }
    .mainpart h2 {
        display:none;
    }
    .rightpart h3 {
        font-size:22px;
    }
}
@media (max-width:768px){
    .topsec p {
        display:none;
    }
}
@media (max-width:760px){
    .infopart h2 {
        font-size:24px;
        text-align:center;
    }
}
@media (max-width:768px){
    .info h2 {
        font-size:30px;
    }
    .over {
        position:absolute;
        height:60px;
        width:160px;
        background:#D7B58A;
        color:black;
        text-align: center;
        bottom:3px;
        left:90px;
    }
    .over h4 {
        line-height: 20px;
        padding-top:10px;
    }
    .textmsg h2 {
        font-size:30px;
        font-weight:600;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        position:relative;
        color:#882427;

    }
    .textmsg h2::after,
    .textmsg h2::before{
        display:none;
    }
    .textmsg p {
        font-size:23px;
        font-weight:400;
        color:black;
    }
    .textmsg h3 {
        font-size:30px;
        font-weight:800;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;

    }
    .villimg h1 {
        text-align:center;
        padding-top: 10px ;
        font-weight:700;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:black;
        font-size:30px;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    }
}
@media (max-width:768px){
    .quick {
    width:100%;
    padding:25px 10px;
    margin-top:10px;
}
.area {
    padding:10px 25px;
    background:navajowhite;
    margin-bottom:20px;
    border-radius:4px;
    border:solid 2px black;
}
.area h2 {
    text-align:center;
    font-size:27px;
    font-weight:700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    padding:5px 0;
    cursor: pointer;
}
.area h2:hover {
    color:darkgoldenrod;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.card {
    margin-top:10px;
    margin-bottom:20px;
    border:none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.card:hover {
    transform:translateX(10px);
    transition:1s;
    border:solid 2px black;
}

.inline {
        width:100%;
        height:7px;
        background:linear-gradient(to right,transparent,black,transparent);
} 
.card-body img {
    height:80px;
    width:120px;
    justify-content:center;
    align-items:center;
    display:block;
}

.services-btn button {
    padding:10px 50px;
    border-radius:8px;
    font-size:20px;
    font-weight:bold;
    background:navajowhite;
    color:black;
    border:none;
    display:block;
    margin:0 auto;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
}
.services-btn button:hover {
    background:white;
    color:black;
    transition: 1s;
    transform:translate(4px,0);
}
}
@media (max-width:768px){
    .heroarea {
        width:100%;
        background:tan;
        padding-bottom:20px;
}
.left {
    background: #A12C2F;
    padding:0 60px;
    margin-top:10px;
    
}
.extra {
    background:#FAA630 ;
    border-left:2px solid white;
    border-right:2px solid white;
     
}
.left h1 {   
    color:cadetblue;
    font-weight:600;
    line-height:30px;
    color: #202c2d;
    width:auto;
    color: #202c2d;
    text-align: center;

    padding:30px 10px;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}
.left1 h2 {
    color:black;
    padding:10px 10px;
    font-weight:600;
    width:auto;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
}

.left1 p {
    padding:10px 10px;
    font-size:20px;
    line-height:28px;
    width:auto;
    color:black;
            
}

.newbtn button {
    width:150px;
    height:50px;
    border-radius:10px;
    background:#FAFAD2;
    color:black;
    font-size:17px;
    margin:10px;
    border:none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.newbtn button:hover {
    
    color:black;
    border:solid 2px black ;
}
}